body {
  padding: 50px;
  font: 24px "Ubuntu", Helvetica, Arial, sans-serif;
    background-color: black;
    color: darkgreen;
}
main {
  min-height: 100%;
  margin-bottom: -100px;
  background: #ddd;
}
main:after {
  content: "";
  display: block;
  height: 100px;
}
footer {
  height: 100px;
  background: #eee;
}

a {
  color: #00B7FF;
}
